@media (min-width: 1600px) {
  .right-task-col{
    margin: 60px 0;
  }
}

@media (max-width: 1224px) {
  .login-wrapper {
    height: 100%;
  } 
  .login-right-col{
    padding: 0 30px;
  }
  .login-right-col h1 {
    display: block;
  }
  .login-right-col h1 span{
    display: block;
    margin-top: 15px;
  }
  .s-b-text {
    display: none;
  }
  .social-link{
    padding-left: 0;
    padding-top: 20px !important;
  }
  .social-mob{
    display: block !important;
  }
  .forgot-text{
    padding-top: 20px;
    display: block;
  }
  .fb-btn{
    width: 45px;
    display: flex;
    justify-content: center;
  }
  .fb-btn span{
    display: none;
  }
  .fb-btn i {    
    margin-right: 0;
  }
  .number-cardbox{
    width: 220px;
    z-index: 9999;
    position: absolute;
  }
  .number-cardbox .popheader h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  .number-cardbox .form-group {
    margin: 20px 15px;
  }
  .verify-btn {
    padding: 4px 25px;
  }
  .number-cardbox .btn-sec {
    margin: 0 20px 20px;
  }
  .edit-btn {
    padding: 4px 25px;
  }
  .right-task-col{
    margin: 0 0;
  }
  .api-card{
    margin-bottom: 0;
  }
  .search p{
    display: none;
  }
  .graph-sec h3 {
    font-size: 20px;
  }
  .campaign-sec h3 {
    font-size: 20px;
  }
  .text-breck{
    flex-wrap: wrap;
  }
  .d-flex.select-field-area, .d-flex.create-campaign-upload-btn, .d-flex.schedule-srvc, .d-flex.notify-url, .d-flex.auto-retry, .personalized-checked-area .d-flex{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .d-flex.select-field-area .select-field{
    width: 42%;
    margin-bottom: 20px;
  }
  .create-campaign-upload-btn li{
    width: 32%;
  }
  .clm-width-four{
    width: 48%;
    margin-bottom: 20px;
  }
  .notify-url .clm-width-three{
    width: 50%;
  }
  .d-flex.auto-retry .clm-width-three:first-child{
    width: 100%;
  }
  .d-flex.auto-retry .clm-width-three{
    width: 48%;
  }
  .start-campaign{
    max-width: 100%;
  }
  div.dataTables_wrapper div.dataTables_info {
    position: relative;
    top: 0;
    justify-content: left;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    position: absolute;
    bottom: 22px;
    right: 12px;
    top: auto;
  }
  .table-bg{
    padding-bottom: 20px;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    position: relative;
    top: 10px;
    margin-right: 6px;
    left: auto;
    display: flex;
    justify-content: flex-end;
  }
  .dataTables_length {
    position: absolute;
    top: 32px;
    right: 21px;
  }
  .dataTables_length {
    position: relative;
    top: 25px;
    left: 0;
    text-align: left;
    right: auto;
    display: flex;  
    justify-content: flex-start;
    margin-left: 50px;
  }
  .table-search{
    display: none;
  }
  .table-top-sec .btn {
   margin-right: 0;
  }
  .table-top-sec {    
    display: flex;
    justify-content: space-between;
  }
  .v-set-card{
    width: 48%;
    margin-bottom: 10px;
  }
  .voice-setting-sec{
    margin-bottom: 20px;
  }
  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
    padding-left: 43px;
  } 
  .dtr-data .d-flex{
    margin-top: 10px;
  } 
  .dtr-data .d-flex i{
    margin-right: 15px;
  } 
  .dtr-data .d-flex i.fa-edit{
    margin-top: 1px;
  }
  table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
  }
  .keyword-table div.dataTables_wrapper div.dataTables_info {
    right: 0; 
    top: 0;
  }
  .audio-table div.dataTables_wrapper div.dataTables_info {
    right: 0;
  }
  .audio-table div.dataTables_wrapper div.dataTables_paginate {
    top: auto;
    bottom: 22px;
  }
  .audio-table.audio-ly div.dataTables_wrapper div.dataTables_info {
    display: block;
    text-align: left;
  }
  .d-flex.select-field-area, .d-flex.create-campaign-upload-btn, .d-flex.schedule-srvc, .d-flex.notify-url, .d-flex.auto-retry, .personalized-checked-area .d-flex{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .d-flex.select-field-area .select-field{
    width: 42%;
    margin-bottom: 20px;
  }
  .create-campaign-upload-btn li{
    width: 32%;
  }
  .clm-width-four{
    width: 48%;
    margin-bottom: 20px;
  }
  .notify-url .clm-width-three{
    width: 50%;
  }
  .d-flex.auto-retry .clm-width-three:first-child{
    width: 100%;
  }
  .d-flex.auto-retry .clm-width-three{
    width: 48%;
  }
  .start-campaign{
    max-width: 100%;
  }

  
/*=================== other developer css ===================*/
.d-flex.select-field-area, .d-flex.create-campaign-upload-btn, .d-flex.schedule-srvc, .d-flex.notify-url, .d-flex.auto-retry, .personalized-checked-area .d-flex{
  flex-wrap: wrap;
  justify-content: space-between;
}
.d-flex.select-field-area .select-field{
  width: 42%;
  margin-bottom: 20px;
}
.create-campaign-upload-btn li{
  width: 32%;
}
.clm-width-four{
  width: 48%;
  margin-bottom: 20px;
}
.notify-url .clm-width-three{
  width: 50%;
}
.d-flex.auto-retry .clm-width-three:first-child{
  width: 100%;
}
.d-flex.auto-retry .clm-width-three{
  width: 48%;
}
.start-campaign{
  max-width: 100%;
}
  
}

@media (max-width: 900px) {
  
  .login-left-col {
    display: none;
  }
  .login-right-col {
    width: 100%;
    border-left: none;
    padding: 50px 60px;
  }   
  .login-right-col .form-check-label {
    width: 100%;
  } 
  .s-b-text {
    display: block;
  } 
  .login-right-col h1 {
    display: flex;
  }
  .login-right-col h1 span{
    display: block;
    margin-top: 0;
  }
  .social-link{
    padding-left: 020px;
    padding-top: 0 !important;
  }
  .social-mob{
    display: flex !important;
  }
  .fb-btn{
    margin-right: 10px;
  }
  .forgot-text{
    padding-top: 0;
    display: block;
  }
  .fb-btn{
    width: auto;
    display: flex;
    justify-content: center;
  }
  .fb-btn span{
    display: block;
  }
  .fb-btn i {    
    margin-right: 5px;
  }
  .number-cardbox{
    width: 300px;    
  }
  .number-cardbox .popheader h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .number-cardbox .form-group {
    margin: 20px 25px;
  }
  .verify-btn {
    padding: 4px 40px;
  }
  .number-cardbox .btn-sec {
    margin: 0 25px 20px;
  }
  .edit-btn {
    padding: 4px 40px;
  }
  .search p{
    display: block;
  }
  .voice-top-sec .btn-red{
    margin-top: 0px;
  }

  .template-create-popup{
    width: 100%;
  }
  .template-create-popup-list-area ul li:first-child{
    display: none;
  }
  .template-create-popup-list-area ul li{
    padding: 15px !important;
  }
  .template-create-popup-list-area ul li .form-group{
    margin-top: 5px;
  }
  .template-create-popup-list-area ul li .t-data{
    width: 100%;
    display: block;
    text-align: left;
    margin: 5px 0;
  }
  .template-create-popup-list-area ul li .t-head-delete{
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .template-create-popup-list-area ul li .t-data:first-child{
    width: 100%;
    display: block;
  }
  .t-data:before{
    position: relative;
    font-size: 1.1rem;
    color: #212529;
    font-weight: 400;
  }
  .t-head-step:before{
    content: 'Step';
  }
  .t-head-name:before{
    content: 'Name';
  }
  .t-head-action:before{
    content: 'Select Action';
  }
  .t-head-input:before{
    content: 'Input';
  }
  .template-create-popup-btn ul li{
    margin: 5px;
    padding: 0;
  }
  .template-create-popup-btn ul li:first-child{
    display: inline-block;
  }
/*=================== other developer css ===================*/
.template-create-popup{
  width: 100%;
}
.template-create-popup-list-area ul li:first-child{
  display: none;
}
.template-create-popup-list-area ul li{
  padding: 15px !important;
}
.template-create-popup-list-area ul li .form-group{
  margin-top: 5px;
}
.template-create-popup-list-area ul li .t-data{
  width: 100%;
  display: block;
  text-align: left;
  margin: 5px 0;
}
.template-create-popup-list-area ul li .t-head-delete{
  position: absolute;
  right: 15px;
  top: 15px;
}
.template-create-popup-list-area ul li .t-data:first-child{
  width: 100%;
  display: block;
}
.t-data:before{
  position: relative;
  font-size: 1.1rem;
  color: #212529;
  font-weight: 400;
}
.t-head-step:before{
  content: 'Step';
}
.t-head-name:before{
  content: 'Name';
}
.t-head-action:before{
  content: 'Select Action';
}
.t-head-input:before{
  content: 'Input';
}
.template-create-popup-btn ul li{
  margin: 5px;
  padding: 0;
}
.template-create-popup-btn ul li:first-child{
  display: inline-block;
}
 
}
@media (max-width: 991px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    box-shadow: 0 0 10px #ccc;
    padding: 10px 0;
  }
  .navbar-toggler{
    background: var(--bs-light);
    margin-top: 0;
    display: flex;
    height: 32px;
    line-height: 8px;
    border: solid 1px #ccc;
  }
  .search p{
    display: none;
  }
  .top-nav .scrollbar{
    height: auto;
  }
  .bottom-nav .scrollbar {
    height: auto;
  }
  .left-nav .nav-link:hover {
    background: #c9f0ff;
  }
  .d-flex.uni-engage-check{
    flex-wrap: wrap;
  }
  .form-group .d-flex.uni-engage-radio li{
    margin-top: 10px;
  }
  .d-flex.select-field-area .select-field{
    width: 85%;
  }
  .select-field-area .select-plus .fa{
    padding: 0;
  }
  .create-campaign-upload-btn li{
    width: 100%;
  }
  .notify-url .clm-width-three {
    width: 100%;
    margin-left: 0 !important;
  }
  .personalized-checked-area .clm-width-four{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .personalized-checked-area .create-template-btn a, .personalized-checked-area .create-template-btn{
    width: 100%;
  }

  .d-flex.uni-engage-check{
    flex-wrap: wrap;
  }
  .form-group .d-flex.uni-engage-radio li{
    margin-top: 10px;
  }
  .d-flex.select-field-area .select-field{
    width: 85%;
  }
  .select-field-area .select-plus .fa{
    padding: 0;
  }
  .create-campaign-upload-btn li{
    width: 100%;
    margin-right: 0;
  }
  .notify-url .clm-width-three {
    width: 100%;
    margin-left: 0 !important;
  }
  .personalized-checked-area .clm-width-four{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .personalized-checked-area .create-template-btn a, .personalized-checked-area .create-template-btn{
    width: 100%;
  }
  .clm-width-three{
    width: 100%;
  }
  .d-flex.choose-media-radio{
    flex-wrap: wrap;
  }
  .d-flex.choose-media-radio li{
    width: 100%;
    margin-right: 0;
  }

/*=================== other developer css ===================*/
.d-flex.uni-engage-check{
  flex-wrap: wrap;
}
.form-group .d-flex.uni-engage-radio li{
  margin-top: 10px;
}
.d-flex.select-field-area .select-field{
  width: 85%;
}
.select-field-area .select-plus .fa{
  padding: 0;
}
.create-campaign-upload-btn li{
  width: 100%;
  margin-right: 0;
}
.notify-url .clm-width-three {
  width: 100%;
  margin-left: 0 !important;
}
.personalized-checked-area .clm-width-four{
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
}
.personalized-checked-area .create-template-btn a, .personalized-checked-area .create-template-btn{
  width: 100%;
}
.clm-width-three{
  width: 100%;
}
.d-flex.choose-media-radio{
  flex-wrap: wrap;
}
.d-flex.choose-media-radio li{
  width: 100%;
  margin-right: 0;
}
.sms-rspns-left-clm, .sms-rspns-right-clm, .callback-response-left-clm, .callback-response-middle-clm, .callback-response-right-clm{
  width: 100%;
}

  
}

@media (max-width: 768px) {
  .login-right-col {
    padding: 50px 30px;
  }    
  .s-b-text{
    display: block;
    position: relative;
    left: 0;
  }
  .content-area {    
    width: 100%;
    border-radius: 0;    
  }
  .sb-sidenav-toggled .left-nav .nav-item {    
    padding-left: 0;    
  }
  .sb-sidenav-toggled .left-logo {
    padding-left: 0;
  }
  .card-sec {
    flex-wrap: wrap;
  }
  .card-col {
    width: 49%;
    margin-bottom: 8px;
  }
  .card-col h2 {
    font-size: calc(0.4rem + 2vw);
  }  
  .search .form-control{
    width: 200px;
  }
  .search p{
    display: block;
  }  
  .campaign-sec h3 {
    font-size: 20px;
  }
  .campaign-sec{
    flex-wrap: wrap;
  }
  .campaign-col-l {
    width: 100%;
  }
  .campaign-col-r {
    width: 100%;
    margin-top: 20px;
  }
  .volume-sec {
    width: 100%;
    margin-bottom: 10px;
  }
  #sidebar-wrapper {
    position: relative;
  }
  .head-right .dropdown-menu {
    top: 9px !important;
  }
  .user .dropdown-menu {
    top: 22px !important;
  }  
  .voice-setting-card-sec{
    justify-content: center;
  }
  .audio-table #example_filter{
    display: none;
  }
  .audio-table .dataTables_length{
    display: none;
  }
  /*=================== other developer css ===================*/
  .sms-rspns-right-clm .clm-width-two, .callback-response-middle-clm .clm-width-two{
    width: 100%;
    margin: 0;
  }

}

@media (max-width: 560px) {
  
  .social-mob{
    display: block !important;
  }
  .social-link{
    padding-left: 0;
    padding-top: 20px !important;
  }
  .fb-btn{
    width: 45px;
    display: flex;
    justify-content: center;
  }
  .fb-btn span{
    display: none;
  }
  .fb-btn i {    
    margin-right: 0;
  }
  .forgot-text{
    padding-top: 20px;
    display: block;
  }
  .notification .close {
    right: 5px;
  }
  .card-col h2 {
    font-size: calc(0.4rem + 2.5vw);
  }
  .notification{
    margin: 20px 0;
    font-size: 0.9rem;
  }
  .space-between {
    flex-wrap: wrap;
  }
  .graph-sec h3 {
    font-size: calc(1.3rem + 0.2vw);
    margin-bottom: 10px;
  }
  .select-day .form-select{
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 30px;
  }  
  .search p{
    display: none;
  }
  .clm-width-four, .d-flex.auto-retry .clm-width-three{
    width: 100%;
  }
  .table-top-sec {
    flex-wrap: wrap;
    justify-content: center;
  }
  .table-top-sec .btn {
    margin-right: 0;
  }
  .search-date {
    margin-top: 10px;
  }
  div.dataTables_wrapper div.dataTables_filter {
    top:-25px;
  }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: inherit;
  }
  .voice-top-sec .btn-green{
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  .voice-top-sec .btn-red{
    margin-top: 10px;
  }
 .voice-top-sec .btn-white{
    margin-right: 10px !important;
  }
  
/*=================== other developer css ===================*/
.clm-width-four, .d-flex.auto-retry .clm-width-three{
  width: 100%;
}
.select-audio-select-field{
  flex-wrap: wrap;
}
.select-audio-select-field label{
  width: 100%;
  margin: 0 0 5px 0;
}
.select-audio-select-field select{
  width: 100%;
}
/* .d-flex{
  flex-wrap: wrap;
} */
.d-flex.uni-engage-radio li, .d-flex.uni-engage-check li{
  width: 100%;
}

}

@media (max-width: 480px) {
  .login-right-col h1 {
    font-size: calc(1.375rem + 0.6vw);
  }
  .number-cardbox{
    width: 220px;
  }
  .number-cardbox .popheader h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  .number-cardbox .form-group {
    margin: 20px 15px;
  }
  .verify-btn {
    padding: 4px 25px;
  }
  .number-cardbox .btn-sec {
    margin: 0 20px 20px;
  }
  .edit-btn {
    padding: 4px 25px;
  }
  .card-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-link {
    flex-wrap: wrap;
    justify-content: center;
  }
  .ft-center{
    justify-content: center;
  }
  .ft-center p{
    margin-top: 10px;
  }
  .login-right-col h1 span {
    width: 100px;
  }
  .user {
    margin-right: 12px;
  }
  .v-set-card{
    width: 100%;
    margin-bottom: 10px;
  }
  .form-group .d-flex.uni-engage-radio{
    display: inherit !important;
  }
  .start-campaign .btn-group .reset-btn{
    padding: 8px 20px;
  }
 .create-campaign .btn-group .reset-btn{
    padding: 8px 20px;
  }
  .clm-width-three {
    width: 100%;
}
.btn-white{
  margin-right: 10px !important;
}
.voice-top-sec .btn-green{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.voice-top-sec .btn-red{
  margin-top: 10px;
}
/*=================== other developer css ===================*/
.reset-btn{
  font-size: 14px;
  font-weight: 500;
  padding: 8px 25px;
}
 .d-flex.uni-engage-radio{
  flex-wrap: wrap;
} 
.d-flex.uni-engage-radio li{
  width: 100%;
  margin: 10px 0 0 0;
}
.unimica-schedule-service .date{
  margin: 0 0 10px 0;
  width: 100%;
}


}
@media (max-width: 360px) {
.login-right-col h1 {
  display: block;
}
.login-right-col h1 span{
  display: block;
  margin-top: 5px;
}
.container-fluid {
  padding: 0 0.75rem;
}
.table-bg{
  padding: 0 10px 20px;
}
/*=================== other developer css ===================*/
.reset-btn{
  padding: 6px 20px;
}

}