@charset "UTF-8";
@import "../css/hover.css";
:root {
  --bs-default:#E0EAF3;
  --bs-blue: #007aff;
  --bs-indigo: #007aff;
  --bs-bluedark: #3b5999;
  --bs-pink: #d63384;
  --bs-red: #FF2D51;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffa800;
  --bs-green: #00A844;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-whitelight: #fafafa;
  --bs-gray: #6c757d;
  --bs-gray-dark: #687d98;
  --bs-primary: #0d6efd;
  --bs-secondary: #525E66;
  --bs-success: #09C667;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #FF1D3E;
  --bs-light: #f8f9fa;
  --bs-dark: #263038;
  --bs-darkhover: #454647;
  --bs-textdark: #515e66;
  --bs-gmail: #EA4335;
  --bs-gradient: linear-gradient(180deg, rgba(0, 101, 132, 1), rgba(0, 37, 48, 1));
}

*,
*::before, *::after {box-sizing: border-box;}
@media (prefers-reduced-motion: no-preference) {
  :root {scroll-behavior: smooth;}
}
body {margin: 0; font-family: 'Karla', sans-serif; font-size: 1.1rem; font-weight: 400; line-height: 1.5;
  color: #212529; background-color: #fff; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container-fluid{
  padding:0 1.5rem;
}
a, input, textarea, button{ outline:0; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; }
input:focus, input:hover, textarea:focus, textarea:hover{box-shadow: none !important; outline: none; }
ul{list-style: none; padding: 0; margin: 0;}
p{padding: 0; margin: 0;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
hr {margin: 1rem 0; color: inherit; background-color: currentColor; border: 0; opacity: 0.25;}
hr:not([size]) {height: 1px;}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0; margin-bottom: 0; font-weight: 500; line-height: 1.2; font-family: 'Montserrat', sans-serif;}
h1, .h1 {font-size: calc(1.375rem + 1.5vw); font-family: 'Montserrat', sans-serif;}
@media (min-width: 1200px) {
  h1, .h1 {font-size: 1.875rem}
}
h2, .h2 {font-size: calc(1.325rem + 0.9vw);}
@media (min-width: 1200px) {
  h2, .h2 {font-size: 1.5rem;}
}
h3, .h3 {font-size: calc(1.3rem + 0.6vw);}
@media (min-width: 1200px) {
  h3, .h3 {font-size:  1.25rem;}
}
h4, .h4 {font-size: calc(1.275rem + 0.3vw);}
@media (min-width: 1200px) {
  h4, .h4 {font-size: 1.125rem;}
}
h5, .h5 {font-size: 1rem;}
h6, .h6 {font-size: 0.75rem;}
abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
address {margin-bottom: 1rem; font-style: normal; line-height: inherit;}
ol, ul, dl {margin-top: 0;}
ol ol, ul ul, ol ul, ul ol { margin-bottom: 0;}
dt {font-weight: 700;}
dd {margin-bottom: 0.5rem; margin-left: 0;}
blockquote {margin: 0 0 1rem;}
b, strong {font-weight: bolder;}
small, .small {font-size: 0.875em;}
mark, .mark {padding: 0.2em;  background-color: #fcf8e3;}
sub, sup {position: relative; font-size: 0.75em; line-height: 0; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
a {color: #0d6efd;}
a:hover {color: #0a58ca;}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;  text-decoration: none;
}
pre, code, kbd, samp {font-family: var(--bs-font-monospace); font-size: 1em; direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;}
pre {display: block; margin-top: 0;  margin-bottom: 1rem;  overflow: auto;  font-size: 0.875em;}
pre code {font-size: inherit; color: inherit; word-break: normal;}
code {font-size: 0.875em; color: #d63384; word-wrap: break-word;}
a > code {color: inherit;}
figure {margin: 0 0 1rem;}
img, svg {vertical-align: middle;}
table {caption-side: bottom; border-collapse: collapse;}
caption {padding-top: 0.5rem; padding-bottom: 0.5rem; color: #6c757d; text-align: left;}
th {text-align: inherit; text-align: -webkit-match-parent;}
thead, tbody, tfoot, tr, td, th {border-color: inherit; border-style: solid; border-width: 0;}
label {display: inline-block;}
button {border-radius: 0;}
button:focus:not(:focus-visible) {outline: 0;}
input, button, select, optgroup, textarea {margin: 0; font-family: inherit; font-size: inherit; line-height: inherit;}button,
select {text-transform: none;}
[role=button] {cursor: pointer;}
select {word-wrap: normal;}
select:disabled {opacity: 1;}
[list]::-webkit-calendar-picker-indicator {display: none;}
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {padding: 0; border-style: none;}
textarea {resize: vertical;}
fieldset {min-width: 0; padding: 0; margin: 0; border: 0;}
legend {float: left; width: 100%; padding: 0; margin-bottom: 0.5rem; font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;}
@media (min-width: 1200px) {
  legend {font-size: 1.5rem;}
}
legend + * {clear: left;}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {height: auto;}
[type=search] {outline-offset: -2px; -webkit-appearance: textfield;}
::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-color-swatch-wrapper {padding: 0;}
::file-selector-button {font: inherit;}
::-webkit-file-upload-button {font: inherit; -webkit-appearance: button;}
.text-left{text-align: left;}
.space-between{
  display: flex;
  justify-content: space-between;
}
.d-block{
  display: block !important;
}
.full-width{
  width: 100%;
}


.form-row{
  display: flex;
  flex-wrap: wrap;
}
.clm-width-two{
  width: 48%;
  margin-right: 2%;
}
.clm-width-three{
  width: 32%;
  margin-right: 1%;
}
.clm-width-four{
  width: 24%;
  margin-right: 1%;
}
.clm-width-five{
  width: 74%;
  margin-right: 1%;
}
.clm-width-two:last-child, .clm-width-three:last-child, .clm-width-four:last-child{
  margin-right: 0;
}
.form-field-hdn{
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.align-item-center{
  align-items: center;
}
.align-item-end{
  align-items: flex-end;
}
.space-between{
  justify-content: space-between;
}
select.form-select{
  padding: 10px 15px;
  border-color: #707070;
  border-radius: 8px;
}
select.form-select:focus{
  box-shadow: none;
}
input[type="date"] {
  background: url(../images/calendar.png) 95% center no-repeat;
}
input[type="time"] {
  background: url(../images/clock.png) 95% center no-repeat;
}
input[type="date"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button{
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
  opacity: 0;
}
.btn-primary-outline{
  background-color: var(--bs-white) !important;
  border: 1px solid var(--bs-blue) !important;
  color: var(--bs-blue) !important;
}
.btn-primary-outline:hover{
  background-color: var(--bs-blue) !important;
  color: var(--bs-white) !important;
}
.content-bdy-bg{
  background: var(--bs-white);
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}
.uni-engage-radio li:last-child{
  margin-bottom: 0;
}
.uni-engage-radio input[type=radio]{
  display: none;
}
.uni-engage-radio label{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.uni-engage-radio input[type=radio]+label{
  position: relative;
  margin-left: 26px;
}
.uni-engage-radio input[type=radio]+label::after{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 100%;
  top: 3px;
  left: -26px;
}
.uni-engage-radio input[type=radio]:checked+label::after{
  border-color: var(--bs-blue);
}
.uni-engage-radio input[type=radio]:checked+label::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--bs-blue);
  border-radius: 100%;
  left: -22px;
  top: 7px;
}
.uni-engage-check input[type=checkbox]{
  display: none;
}
.uni-engage-check label{
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.uni-engage-check input[type=checkbox]+label{
  position: relative;
  margin-left: 26px;
}
.uni-engage-check input[type=checkbox]+label::after{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 3px;
  top: 4px;
  left: -26px;
}
.uni-engage-check input[type=checkbox]:checked+label::after{
  border-color: var(--bs-blue);
}
.uni-engage-check input[type=checkbox]:checked+label::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 6px;
  transform: translateX(10px) rotate(-45deg);
  border-left: 2px solid var(--bs-blue);
  border-bottom: 2px solid var(--bs-blue);
  left: -32px;
  top: 9px;
}
.full-width-checkbox.uni-engage-check li{
  margin-top: 12px;
}
.select-field .form-select{
  border-radius: 6px;
}
.select-field .form-select:focus{
  box-shadow: none;
}
.btn-group .d-flex{
  align-items: center;
}
.btn-group .d-flex li:not(:last-child){
  margin-right: 20px;
}
/*=========================== Global CSS End ===========================*/
/*=========================== padding & Margin CSS ===========================*/
.p-t-0{padding-top: 0 !important;} .p-t-10{padding-top: 10px !important;}
.p-t-20{padding-top: 20px !important;} .p-t-30{padding-top: 30px !important;}
.p-b-0{padding-bottom: 0 !important;}  .p-tb-20{ padding: 20px 0 !important;}
.p-l-20{padding-left: 20px;}

.m-t-0{margin-top: 0 !important;}
.m-t-10{margin-top: 10px !important;} .m-t-20{margin-top: 20px !important;}
.m-t-30{margin-top: 30px !important;}
.m-b-20{margin-bottom: 20px !important;}

p.large-text{
  font-size: 1.5rem !important;
  color: var(--bs-secondary);
}
p.midium-text{
  font-size: 1.3rem !important;
  color: var(--bs-secondary);
  line-height: 27px !important;
}
p.midium-text span{
  display: block;
}
.align-center{
  display: flex;
  align-items: center;
}


/*=========================== Button Style CSS ===========================*/
.btn{
  border-radius: 7px;
  color: var(--bs-white);
  padding: 10px 25px;
  border: none;
}
.btn-primary{
  background: var(--bs-blue);
}
.btn-secondary{
  background: var(--bs-bluedark);
}
.btn-tertiary{
  background: var(--bs-gmail);
}
.btn-tertiary:hover{
  background: var(--bs-danger) !important;
}
.btn-linkdin{
  background: #0A66C2;
}
.btn-secondary:hover{
  background: #173b89;
}
.btn-close-popup{
  background: #263038;
  padding: 4px 25px;
  font-size: 14px;
  border-radius: 10px;
}
.btn-close-popup:hover{
  color: var(--bs-white);
  background: var(--bs-danger);
}
.signup-btn{
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 35px 10px 60px;
  font-weight: bold;
  letter-spacing: 1px;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  background-position: 33px center;
}
.reset-btn{
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 35px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}
.fb-btn{
  font-size: 11px;
  text-transform: uppercase;
  padding: 13px 12px;
  font-weight: bold;  
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  margin-right:2px;
}
.fb-btn i{
  font-size: 15px;
  margin-right: 5px;
}
.otp-btn{
  background: var(--bs-dark);
  padding: 10px 50px;
  margin: 10px 0; 
}
.otp-btn:hover{
  background: var(--bs-darkhover);
}
.verify-btn{
  background: var(--bs-success);
  padding: 4px 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);  
}
.verify-btn:hover{
  background: var(--bs-green);
  color: var(--bs-white);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) !important; 
  text-decoration: none; 
}
.edit-btn{
  background: var(--bs-white);
  padding: 4px 40px;  
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);
  color: var(--bs-black);
}
.edit-btn:hover{
  background: var(--bs-dark);
  color: var(--bs-white);
  text-decoration: none;
}



/*======================== Login page CSS Start ========================*/

.login-wrapper{
  height: 100vh;  
}
.login-body{
  display: flex;
  height: 100vh;
  background: url(../images/login-bg.jpg) 0 0 repeat;
}
.login-left-col{
  width: 55%;
  position: relative;
}
.login-left-col img{
  width: 100%;
  height: 100%;  
}
.login-right-col{
  width: 45%;
  background: var(--bs-whitelight);
  border-right: solid 7px var(--bs-indigo);
  border-left: solid 2px var(--bs-gray-dark); 
  padding: 0 55px; 
  position: relative;
}
.main-content{
  position: relative;  
  display: flex;
  align-items: center;
  height: 100%;
}
.top-logo{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
}
.top-logo img{
  width: 100%;
}
.login-right-col h1{
  color: var(--bs-textdark);
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
}
.login-right-col h1 span{
  width: 130px;
  margin-left: 10px;
}
.login-right-col h1 span img{
  width: 100%;
}
.login-right-col p{
  color: var(--bs-textdark);
  font-size: 17px; 
  padding-top: 15px;
  line-height: 22px;
}
.login-right-col p a:hover{
  text-decoration: underline;
}
.login-right-col form{
  margin-top: 20px;
}
.login-right-col .form-group{ 
  position:relative; 
  margin-bottom:20px; 
}
.form-control{
  font-size:15px;
  padding:10px 10px 10px 15px;
  display:block;
  width:100%;
  border:none;
  border:1px solid #707070;
  border-radius: 8px;
  background: none;
}
.text-inserted{
  font-size:15px;
  position:absolute;
  top: 10px;
  right: 15px;
  color: var(--bs-textdark);
}
.form-group{
  position: relative;
}
.form-control:focus{ 
  outline:none;
  background: none;
}
.reset-content label{
  color: var(--bs-textdark);
  font-size:16px;
  font-weight:normal;
  position:absolute;
  left:15px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.login-right-col label{
  color: var(--bs-textdark);
  font-size:16px;
  font-weight:normal;
  position:absolute;
  left:15px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.form-control:focus ~ label, .form-control:valid ~ label 		{
  top:-11px;
  font-size:14px;
  color:#007aff;
  background: var(--bs-whitelight);
}
.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 95%;
  top: 10px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  background-color: #fff
}
.intl-tel-input .selected-flag .iti-flag{
  display: none;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  padding-left: 5px;
  border-right:1px solid #707070;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background: none;
}
.intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
  width: 68px !important;
}
.intl-tel-input .selected-flag .iti-arrow{
  right: 10px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input, 
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text], 
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
  padding-left: 80px;
}
.intl-tel-input {
  width: 100%;
}
.login-right-col .form-group .form-check-input {
  width: 20px;
  height: 20px;
  border:1px solid #707070;
  margin-top: 0;
}
.login-right-col .form-check-label{
  position: relative ;
  top: 0 ;
  left: 0;
  line-height: 20px;
  padding-left: 7px;
}
.reset-content .form-group .form-check-input {
  width: 20px;
  height: 20px;
  border:1px solid #707070;
}
.reset-content .form-check-label{
  position: relative ;
  top: 0 ;
  left: 0;
  line-height: 20px;
  padding-left: 7px;
}
.login-right-col .form-check-label a:hover{
  text-decoration: underline !important;
}
.fa-gmail{
  background: url(../images/gmail.png) 0 center no-repeat;
  width: 16px;
  height: 16px;
}
.fa-linkedin{
  margin-top: -5px;
}
.s-b-text{
  position: absolute;
  bottom: 0;
  left: 55px;
  font-size: 14px !important;
}
/* .form-check-input{
  margin-top: 0;
} */
.modal-dialog {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.modal-header{
  background: var(--bs-blue);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 13px 17px;
}
.modal-title{
  color: var(--bs-white);
  font-weight: 600;
}
.modal-content {
  border-radius: 10px;
  border:none;
}
.modal-body p{
  color: #263038;
  font-size: 17px;
  line-height: 28px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.modal-footer {
  border-top: none;  
  padding-right: 30px;
  border-radius: 0;
}
.scrollbar {
  margin-left:15px;
  float: left;
  height: 450px;
  background: #fff;
  overflow-y: scroll;
  }
  .force-overflow {
  min-height: 450px;
  }  
  .scrollbar-primary::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
  border-radius: 20px; 
}  
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 20px;  
  background-color: var(--bs-blue); 
}
.reset-bg{
  width: 100%;
  height: 100%;
}
.reset-content{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content-area{
  background: var(--bs-whitelight);
  width: 40%;
  padding: 50px 50px;
  border-radius: 15px;
  text-align: center;
}
.content-area .form-group{ 
  position:relative; 
  margin-bottom:15px; 
} 
.reset-text{
  color: #525E66;
  padding: 20px 0;
}
.content-area .form-group p{ 
  color: var(--bs-textdark);
  font-size: 15px; 
  margin-top: 7px;
}
.abm-80{
  left: 80px !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
  background: none;
}
.invalid-feedback{
  text-align: left;
  color: var(--bs-danger);
  font-size: 15px;
}
.form-group .form-control.is-invalid~.form-label, .was-validated .form-group .form-control:invalid~.form-label {
  color: var(--bs-danger);
}
.form-group .form-control.is-invalid~.form-label, .was-validated .form-group .form-control:invalid~.form-label {
  color: var(--bs-danger);
}
.form-group .form-control.valid~.form-label, .was-validated .form-group .form-control:valid~.form-label {
  color: var(--bs-success);
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  color: var(--bs-danger);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: var(--bs-danger) !important;
}
.was-validated .form-control:valid, .form-control.is-valid{
  background: none;
  border-color: var(--bs-success) !important;
}
.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: var(--bs-success);
}
.form-group .form-control.is-invalid~.text-inserted, .was-validated .form-group .form-control:invalid~.text-inserted {
  color: var(--bs-danger);
}
.authentication-sec h2{
  color: #525E66;
  font-size: 1.8rem;
}
.authentication-sec form{
  position: relative;
}
.number-cardbox{
  display: none;
  position: absolute;
  top: 20px;
  right:0;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
}
.number-cardbox .popheader{
  background: var(--bs-blue);
  padding: 20px;
  border-radius: 20px 20px 0 0;  
}
.number-cardbox .popheader h3{
  color: var(--bs-white);  
}
.number-cardbox .form-group{
  margin: 20px 30px;
}
.number-cardbox .btn-sec{
  margin: 0 30px 20px;
}
.ad-task-sec{
  width: 100%;
}
.ad-task-sec h3{
  margin-bottom: 10px;
  font-size: 1rem;
}
.api-card{
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  /* margin-top: 20px; */
}
.api-card .popheader{
  background: var(--bs-blue);
  padding:15px 20px;
  border-radius: 20px 20px 0 0;  
}
.api-card .popheader h4{
  color: var(--bs-white);  
}
.api-card .form-group{
  margin: 10px 30px;
}
.api-card .form-group p{
  padding: 0;
}
.api-card .form-group p span{
  display: block;
}
.api-card .form-group .verify-btn{
  padding: 4px 30px;
  margin: 15px 0 20px;
  font-size: 14px;
}
.right-task-col{
  display: flex;
  justify-content: flex-end;   
}
.social-link{
  font-size: 15px !important;
  color: var(--bs-blue) !important;
  padding-left: 20px;
}


/*================= Dashboard Page left sidebar Style Sheet Start Here ===============*/
#wrapper {
  overflow-x: hidden;
  background: var(--bs-default);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background: var(--bs-gradient);
  position: fixed;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  height: 78px; 
  display: flex;
  align-items: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}
.list-group-item-action.active{
  background-color: #27344b;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 15rem;
    
  }
  body.sb-sidenav-toggled #wrapper #page-content-wrapper {  
    margin-left: 6.4rem;
    transition: margin 0.25s ease-in-out;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -3rem;
  }
}
#sidebarToggle{
  cursor: pointer;
}
.left-nav .nav-link{
  padding: 0.7rem 1rem;
  color: var(--bs-white);
  font-size: 1.1rem;
}
ul.show .nav-link {
  background: #c9f0ff;
  color: #264552;
}
.left-nav .scrollbar{
  background-color: transparent;
  margin-left: 0;
}
.left-nav .nav-link:hover{
  background:var(--bs-white);
  color: var(--bs-black);
  text-decoration: none;
}
.left-nav .nav-link.active, .nav-link:focus{
  background:#c9f0ff;
  color: #264552;
  text-decoration: none;
}
.left-nav .nav-link.active .show{
  background:#c9f0ff;
  color: #264552;
  text-decoration: none;
}
/* #nav_accordion li{
  margin: 5px 0;
} */
#nav_accordion li a{
  position: relative;
  display: flex;
}
#nav_accordion li a.collapsed span.plus:after{
  content: "+";
  font-size: 25px;
  color: var(--bs-black);
  position: absolute;
  top: 3px;
  right: 20px;
  font-weight: 500;  
}
#nav_accordion li a:not(.collapsed) span.plus:after{
  content: "-";
  font-size: 25px;
  color: var(--bs-black);
  position: absolute;
  top: 4px;
  right: 20px;
  font-weight: 500;
}
.fa-dashboard-custom{
  background: url(../images/dashboard.png) 0 center no-repeat;
  width: 25px;
  height: 22px;
  margin-top: 2px;
  margin-right: 7px;
}
.left-nav .nav-link:hover .fa-dashboard-custom, .nav-link.active .fa-dashboard-custom, .nav-link:focus .fa-dashboard-custom{
  background: url(../images/dashboard-hover.png) 0 center no-repeat;
}
.fa-phone-custom{
  background: url(../images/call.png) 0 center no-repeat;
  width: 21px;
  height: 21px;
  margin-top: 5px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-phone-custom, .nav-link.active .fa-phone-custom{
  background: url(../images/call-hover.png) 0 center no-repeat;  
}
.left-nav .nav-link:hover .fa-phone-custom, .nav-link:focus .fa-phone-custom, .nav-link.active .fa-phone-custom{
  background: url(../images/call-hover.png) 0 center no-repeat;
}
.fa-contact-custom{
  background: url(../images/contact2.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-contact-custom, .nav-link.active .fa-contact-custom{
  background: url(../images/contact2-hover.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-contact-custom, .nav-link:focus .fa-contact-custom, .nav-link.active .fa-contact-custom{
  background: url(../images/contact2-hover.png) 0 center no-repeat;
}
.fa-megaphone-custom{
  background: url(../images/megaphone.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-megaphone-custom, .nav-link.active .fa-megaphone-custom{
  background: url(../images/megaphone-hover.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-megaphone-custom, .nav-link:focus .fa-megaphone-custom, .nav-link.active .fa-megaphone-custom{
  background: url(../images/megaphone-hover.png) 0 center no-repeat;
}
.fa-template-custom{
  background: url(../images/template.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-template-custom, .nav-link.active .fa-template-custom{
  background: url(../images/template-hover.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-template-custom, .nav-link:focus .fa-template-custom, .nav-link.active .fa-template-custom{
  background: url(../images/template-hover.png) 0 center no-repeat;
}
.fa-flow-chart-custom{
  background: url(../images/flow-chart.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-flow-chart-custom, .nav-link.active .fa-flow-chart-custom{
  background: url(../images/flow-chart-hover.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-flow-chart-custom, .nav-link:focus .fa-flow-chart-custom, .nav-link.active .fa-flow-chart-custom{
  background: url(../images/flow-chart-hover.png) 0 center no-repeat;
}
.fa-document-custom{
  background: url(../images/document.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-document-custom, .nav-link.active .fa-document-custom{
  background: url(../images/document-hover.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-document-custom, .nav-link:focus .fa-document-custom, .nav-link.active .fa-document-custom{
  background: url(../images/document-hover.png) 0 center no-repeat;
}
.fa-setting-custom{
  background: url(../images/setting-hover.png) 0 center no-repeat;
  width: 21px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-setting-custom, .nav-link.active .fa-setting-custom{
  background: url(../images/setting.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-setting-custom, .nav-link:focus .fa-setting-custom, .nav-link.active .fa-setting-custom{
  background: url(../images/setting.png) 0 center no-repeat;
}
.fa-billing-custom{
  background: url(../images/billing-hover.png) 0 center no-repeat;
  width: 19px;
  height: 21px;
  margin-top: 3px;
  margin-right: 13px;
}
.left-nav .nav-link:not(.collapsed) .fa-billing-custom, .nav-link.active .fa-billing-custom{
  background: url(../images/billing.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-billing-custom, .nav-link:focus .fa-billing-custom, .nav-link.active .fa-billing-custom{
  background: url(../images/billing.png) 0 center no-repeat;
}
.fa-developer-custom{
  background: url(../images/developer-hover.png) 0 center no-repeat;
  width: 25px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-developer-custom, .nav-link.active .fa-developer-custom{
  background: url(../images/developer.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-developer-custom, .nav-link:focus .fa-developer-custom, .nav-link.active .fa-developer-custom{
  background: url(../images/developer.png) 0 center no-repeat;
}
.fa-partner-custom{
  background: url(../images/partner-hover.png) 0 center no-repeat;
  width: 21px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
}
.left-nav .nav-link:not(.collapsed) .fa-partner-custom, .nav-link.active .fa-partner-custom{
  background: url(../images/partner.png) 0 center no-repeat;
}
.left-nav .nav-link:hover .fa-partner-custom, .nav-link:focus .fa-partner-custom, .nav-link.active .fa-partner-custom{
  background: url(../images/partner.png) 0 center no-repeat;
}
.sb-sidenav-toggled .left-nav .nav-link span {
  display: none;
}
.sb-sidenav-toggled .left-nav .nav-item{
  width: 100%;
  padding-left: 48px;
  text-align: center;
}
.sb-sidenav-toggled .list-group {
  float: right;
  width:150px !important;
}
.sb-sidenav-toggled #nav_accordion li a {
  justify-content: center;
}
.left-logo{
  width: 150px;
}
.left-logo .small-logo img{
  width: auto;
}
.left-logo img{
  width: 100%;
}
.sb-sidenav-toggled .large-logo {
  display: none;
}
.small-logo{
  display: none;
}
.sb-sidenav-toggled .small-logo {
  display: block;
}
.sb-sidenav-toggled .left-logo {
  width: 100%;
  text-align: center;
  padding-left: 45px;
} 
.bg-shadow{
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.bg-white{
  background: var(--bs-white);
}
.head-left{
  display: flex;
  align-items: center;
}
.search{
  align-items: center;
}
.search .form-control{
  border: none;
  margin: 19px;
  height: 40px;
  background: url(../images/search.png) 95% center no-repeat var(--bs-default);
  font-size: 1rem;
  width: 300px;
}
.search .form-control:focus{
  background-color: #c9f0ff;
}
.head-right{
  display: flex;
  align-items: center;
}
.head-right .dropdown-menu{
  min-width: 14rem;
  padding: 0;
  box-shadow: 0 3px 5px rgb(156 154 154 / 50%);
  border-color: #ccc;
  top: 16px !important;
  border: none;
  border-radius: 0;
  padding: 10px;
}
.head-right .dropdown-menu h3{
  font-size: 17px;
  color: var(--bs-blue);
  border-bottom: solid 1px #ccc;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left:5px;
}
.head-right .dropdown-menu ul{
  margin: 3px 0;
  padding: 3px 0;
  display: block;
}
.head-right .dropdown-menu li a{
  padding: 0.1rem 0.5rem;
  display: block;
  color: #828282;
  font-size: 15px;
  font-weight: 400;
}
.head-right .dropdown-menu li a i{
  margin-right: 7px;
  font-size: 14px;
}
.head-right .dropdown-menu li a:hover{
  display: block;
  text-decoration: none;
  color: var(--bs-blue);
}
.user .dropdown-menu{
  top: 29px !important;
  min-width: 10rem;
  left: -0.7rem !important;
}
.user .dropdown-menu h3{
  padding-bottom: 0;
}
.user .dropdown-menu p{
  font-size: 13px;
  color: #828282;
  padding-left: 5px;
}
.larrow{
  position: absolute;
  left: 230px;
  top: 70px;
}
body.sb-sidenav-toggled #wrapper #sidebar-wrapper .larrow{
  left: 140px;
}
.addition-menu .dropdown-toggle:after{
  display: none;
}
.addition-menu .dropdown-menu{
  top: 27px !important;
  min-width: 14rem;
  padding: 0;
  box-shadow: 0 3px 5px rgb(156 154 154 / 50%);
  border: none;
  border-radius: 0;
  padding: 10px;
}
.addition-menu .dropdown-menu h3{
  font-size: 17px;
  color: var(--bs-blue);
  border-bottom: solid 1px #ccc;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left:5px;
}
.addition-menu .dropdown-menu ul{
  margin: 3px 0;
  padding: 3px 0;
  display: block;
}
.addition-menu .dropdown-menu li a{
  padding: 0.1rem .5rem;
  display: block;
  color: #828282;
  font-size: 15px;
  font-weight: 400;
}
.addition-menu .dropdown-menu li a:hover{
  display: block;
  text-decoration: none;
  color: var(--bs-blue);
}
.topus{
  padding-bottom: 10px;
}
.head-right p{
  color:var(--bs-red);
}
.user{
  width: 45px;
  height: 45px;
  border-radius: 10px;
  box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 25px;
}
.user img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.fa-help-icon{
  background: url(../images/help-icon.png) 0 center no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}
.help a{
  display: flex;
  align-items: center;
  color: var(--bs-black);
}
.help a:hover{
  color: var(--bs-blue);
}
.notification{
  width: auto;
  position: relative;
  display: block;
  background: var(--bs-blue);
  border-radius: 7px;
  padding: 13px 20px;
  color: var(--bs-white);
  margin: 20px 0;
  box-shadow: 0 5px 8px rgba(0, 122, 255, 0.3);
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.notification .fa-bell{
  font-size: 1.3rem;
  margin-right: 10px;
}
.notification .close{
  position: absolute;
  top:17px;
  right: 20px;
  width: 0.4rem;
  height: 0.4rem;
}
.card-sec{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.card-col{
  width: 24%;
  background: var(--bs-whitelight);
  border: solid 2px var(--bs-white);
  padding: 20px 0 20px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(64, 99, 130, 0.2);
  cursor: pointer;
}
.card-col:hover{
  box-shadow: 0 0 20px rgba(15, 129, 255, 0.3);
}
.card-col h2{
  color: var(--bs-blue);
  font-weight: 600;
  padding: 10px 0 5px;
  font-size: calc(0.4rem + 0.9vw);
}
.card-col p{
  font-size: 0.8rem;
  color: #707070;
}
.graph-sec{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  background: var(--bs-whitelight);
  border: solid 2px var(--bs-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(64, 99, 130, 0.2);
  position: relative;
}
.graph-sec h3{
  font-weight: 600;
  margin-bottom: 40px;
}
.select-day .form-select{
  background-color: var(--bs-default);
  border: none;
  height: 30px;
  margin-left: 10px;
  font-size: 14px;
  color: #525E66;
  border-radius: 7px;
  background-size: 12px 10px;
  background-position: right 0.55rem center;
  padding-top: 4px;
}
.select-day .form-select:focus{
  outline: none;
  box-shadow: none;
}
.campaign-sec{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.campaign-col-l{
  width: 55%;  
}
.top-col{
  background: var(--bs-whitelight);
  border: solid 2px var(--bs-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(59, 78, 95, 0.2);
  margin-bottom: 20px;
}
.bottom-col{
  background: var(--bs-whitelight);
  border: solid 2px var(--bs-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(64, 99, 130, 0.2);
}
.campaign-col-r{
  width: 43%;  
}
.campaign-sec h4{
  color: #3A4B58;
  font-size: 1rem;
}
.campaign-sec h3{
  font-weight: 600;
  margin-bottom: 10px;
  color: #3A4B58;
}
.view-btn{
  background-color: var(--bs-default);
  border-radius: 7px;
  font-size: 14px;
  padding: 3px 10px;
  color: var(--bs-black);
}
.view-btn i{
  margin-left: 10px;
}
.view-btn:hover{
  background: var(--bs-blue);
  color:var(--bs-white);
  text-decoration: none;
}
.camp-row{
  background-color: var(--bs-default);
  border-radius: 7px;
  padding: 12px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.camp-row:hover{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.camp-row p{
  padding-top: 5px; 
}
.camp-row p small{
  color: #8D9194;  
}
.camp-row p.typeText{
  color: #3A4B58;
  font-size: 14px;
}
.progress-bar {
  position: relative;
  height: 76px;
  width: 76px;
  background: none;
}
.progress-bar div {
  position: absolute;
  height: 76px;
  width: 76px;
  border-radius: 50%;
}
.progress-bar div span {
  position: absolute;
  font-size: 20px;
  color: var(--bs-blue);
  line-height: 60px;
  height: 60px;
  width: 60px;
  left: 8.5px;
  top: 8px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--bs-default);
}
.progress-bar .background {
  background-color: var(--bs-blue); 
}
.progress-bar .rotate {
  clip: rect(0 20px 75px 0);
  background-color: var(--bs-blue);
}
.progress-bar .left {
  clip: rect(0 20px 75px 0);
  opacity: 1;
  background-color: var(--bs-blue);
}
.progress-bar .right {
  clip: rect(0 20px 75px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: var(--bs-blue);
}
 @keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.success-text{
  color: var(--bs-success) !important;
}
.denger-text{
  color: var(--bs-danger) !important;
}
.action{
  display: flex;
  margin-top: 25px;
}
.action li{
  margin: 0 3px;
}
.action li a{
  font-size: 15px;
  color: var(--bs-secondary);
}
.action li a:hover{
  color: var(--bs-blue);
}
.alerts-sec .scrollbar{
  background: none;
  margin-left: 0; 
  width: 100%; 
  margin-top: 10px;
  height: 360px;
}
.alerts-sec ul li{
  font-size: 1rem;
  color: var(--bs-secondary);
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
.alerts-sec ul li:after{
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background: var(--bs-blue);
  width: 9px;
  height: 9px;
  border-radius: 100%;
}
.alerts-sec ul li dd{
  font-size: 0.9rem;
  color: var(--bs-gray);
}
.alerts-overflow{
  min-height: 300px;
}
.mat-chip ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.mat-chip ul li{
  margin:10px 10px 10px 0;
}
.mat-chip ul li a{
 background: #D9D9D9;
 border: solid 1px #525E66;
 border-radius: 5px;
 padding: 5px 10px;
 color: var(--bs-black);
 text-decoration: none;
 font-size: 1rem;
}
.mat-chip ul li a:hover{
  background: var(--bs-blue);
  border: solid 1px #fff;
  color: var(--bs-white);
  text-decoration: none;
 }
 .advertising-sec{
  display: flex;  
  margin-top: 40px; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.advertising-sec img{
  width: 100%;
}
.footer{
  background: #0F1B24;
  display: flex;
  justify-content: space-between; 
  position: relative; 
  z-index: 1;
  margin-top: 0;
  padding: 15px 0;
}
.social-mob{
  align-items: center;
}
.iti {
  display: block;
}
.iti--separate-dial-code .iti__selected-flag{
  background: none;
  border-right: solid 1px #707070;
}
.volume-sec{
  width: 45%;
}
.footer-link{
  display: flex;
  margin-top: 5px;
}
.footer-link li{
  color: var(--bs-white);
  font-size: 0.9rem;
  font-weight: 300;
  margin:0 5px;
}
.footer-link li a{
  color: var(--bs-white);
  font-size: 0.9rem;
  font-weight: 300;
}
.footer-link li a:hover{
  color: var(--bs-blue);
}
.bottom-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.top-nav .scrollbar{
  height: 54vh;
  width: 100%;
}
.bottom-nav .scrollbar{
  height: 30vh;
  width: 100%;
}
.drop-right-align{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#sidebar-wrapper .scrollbar::-webkit-scrollbar {
  display: none;
}
#sidebar-wrapper .scrollbar{
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

/*============== Campaign Summary page css ==============*/

.table-bg{
  background: var(--bs-white);
  border-radius: 20px;
  padding: 0 20px 0;
  margin-top: 20px;
  position: relative;
  margin-bottom: 35px;
}
.btn-primary-outline{
  background-color: var(--bs-white);
  border: 1px solid var(--bs-blue);
  color: var(--bs-blue);
}
.btn-primary-outline:hover{
  background-color: var(--bs-blue);
  color: var(--bs-white);
}
.content-bdy-bg{
  background: var(--bs-white);
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}
/*============== Campaign page css Start ==============*/
.campaign-tab .nav-tabs{
  margin-top: 20px;
  border-color: var(--bs-gray-dark);  
}
.campaign-tab .nav-tabs .nav-link{
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-right: 10px;
  text-decoration: none;
  color: var(--bs-textdark);
}
.campaign-tab .nav-tabs .nav-link:after{
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--bs-blue);
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.campaign-tab .nav-tabs .nav-link:hover, .campaign-tab .nav-tabs .nav-link.active{
  color: var(--bs-blue);
}
.campaign-tab .nav-tabs .nav-link:hover:after, .campaign-tab .nav-tabs .nav-link.active:after{
  width: 100%;
}
.campaign-tab .breadcrumb ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.campaign-tab .breadcrumb ul li{
  position: relative;
  margin: 20px 20px 0 0;
  font-size: 16px;
  color: var(--bs-dark);
  line-height: 20px;
}
.campaign-tab .breadcrumb ul li:after{
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--bs-textdark);
  top: 0;
  right: -10px;
}
.campaign-tab .breadcrumb ul li:last-child{
  margin-right: 0;
}
.campaign-tab .breadcrumb ul li:last-child:after{
  display: none;
}
.campaign-tab .form-group{
  margin-bottom: 20px;
}
.campaign-tab .form-control{
  font-size: 16px;
}
.form-group .d-flex.campaign-radio li{
  line-height: 1.4;
  margin: 0 20px 8px 0;
}
.campaign-radio li:last-child{
  margin-bottom: 0;
}
.campaign-radio input[type=radio]{
  display: none;
}
.campaign-radio label{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.campaign-radio input[type=radio]+label{
  position: relative;
  margin-left: 23px;
}
.campaign-radio input[type=radio]+label::after{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 100%;
  top: 3px;
  left: -23px;
}
.campaign-radio input[type=radio]:checked+label::after{
  border-color: var(--bs-dark);
}
.campaign-radio input[type=radio]:checked+label::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--bs-textdark);
  border-radius: 100%;
  left: -19px;
  top: 7px;
}
.btn-group .d-flex{
  align-items: center;
}
.btn-group .d-flex li:not(:last-child){
  margin-right: 20px;
}

/*============== Create Campaign CSS ==============*/
.create-campaign .create-campaign-item{
  position: relative;
  border: none;
  padding: 0 0 20px 0;
}
.create-campaign .create-campaign-item:after{
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--bs-textdark);
  bottom: 0;
  left: 18px;
}
.create-campaign .create-campaign-item:last-child:after{
  display: none;
}
.create-campaign .accordion-link{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
  z-index: 3;
  text-decoration: none;
}
.create-campaign .accordion-link span{
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  background-color: var(--bs-blue);
  color: var(--bs-white);
  font-weight: 500;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgb(0 122 255 / 60%);
}
.create-campaign .accordion-link strong{
  padding-left: 18px;
  font-size: 22px;
  color: var(--bs-blue);
  font-weight: 500;
}
.create-campaign-item .accordion-link.collapsed strong{
  color: var(--bs-textdark);
}
.create-campaign-item .accordion-link.collapsed span{
  background-color: var(--bs-textdark);
  box-shadow: none;
}
.create-campaign .accordion-content-area{
  padding: 0 10px 0 55px;
}
.table-top-sec{
  margin: 30px 0 30px;
  display: flex;
}
.table-top-sec .btn{
  padding:7px 20px;
  margin-right: 40px;
}
.table-search{
  width: 10%;
  display: flex;
  margin-left: 140px;
  margin-top: 1px;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  position: absolute;
  top:-88px;
  left: 185px;
}
div.dataTables_wrapper div.dataTables_filter .form-control{
  padding: 5px 10px 5px 15px;
  display: block;
  margin-left: 0;
  border-radius: 5px;
  width: 150px;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-size: 14px;
}
table.dataTable thead .sorting_asc:after {
  opacity: .5;
  content: "\f15d";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table.dataTable thead .sorting_desc:after {
  opacity: .5;
  content: "\f15e";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table.dataTable thead .sorting:after {
  opacity: 1;
  content: "\f0dc";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  bottom: 12px;
}
.dataTables_length{
  position: absolute;
  top: -64px;
  right:200px;
}
.dataTables_length .input-sm{
  padding: 3px 0 3px 5px;
  width: 50px !important;
  background-image: url(../images/drop-arrow.png);
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 10px 6px;
  border-radius: 5px;
}
.dataTables_length .input-sm:focus{
  box-shadow: none !important;
}
.form-select:focus{
  border:solid 1px #86b7fe !important;
  box-shadow: none !important;
}
div.dataTables_wrapper div.dataTables_length label {
  font-size: 0;
}
.table-search .form-select{
  background-color: transparent;
  border: 1px solid #5A5A5A;
  padding: 5px 10px 5px 15px;
  height: 36px;
  background-position: right 0.5rem center;
}
.dataTables_length label{
  position: relative;
}
.dataTables_length label:after{
  content: "View";
  font-size: 17px;
  position: absolute;
  top: 3px;
  left: -42px;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
  position: absolute;
  top: -68px;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
div.dataTables_wrapper div.dataTables_info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bs-default);
  width: 10px;
}
.paginate_button{
  display: none;
}
#example_previous{
  display: block;
  font-size: 0;
  background: url(../images/pre.png) 0 0 no-repeat;
  width: 19px;
  height: 12px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
}
#example_next{
  display: block;
  font-size: 0;
  background: url(../images/next.png) 0 0 no-repeat;
  width: 19px;
  height: 12px;
  cursor: pointer;
  margin-top: 5px;
}
div.dataTables_wrapper div.dataTables_paginate {
  position: absolute;
  top: -40px;
  right: 0;
}
.search-date{
  display: flex;
  align-items: center;
}
#datepicker{
  width:130px; 
  margin-left:20px;
  position: relative;
}
#datepicker2{
  width:130px; 
  position: relative;
  margin-left: 4px;
}
#datepicker3{
  width:150px; 
  position: relative;
  margin-left: 4px;
}
#datepicker4{
  width:150px; 
  position: relative;
  margin-left: 4px;
}
.unidatepicker{
  position: relative;
}
.unidatepicker .form-control{
  width:100% !important; 
  padding:10px 15px !important;
}
.unidatepicker .input-group-addon{
  left: auto !important;
  right: 15px !important;
  top: 9px !important;
}
#datepicker > span:hover{cursor: pointer;}
.date .input-group-addon{
  position: absolute;
  top: 4px;
  left: 10px;
  z-index: 1;
}
.date .form-control{
  padding: 5px 0 5px 35px;
  border-radius: 5px;
  width: 125px;
}
.ac-icon .d-flex{
  display: flex;
  align-items: center; 
  margin-top: 4px; 
}
.ac-icon .d-flex i{
  margin-right: 15px; 
  cursor: pointer; 
  font-size: 20px;
}
.ac-icon .d-flex i.fa-edit:hover{
  color: var(--bs-blue);
}
.ac-icon .d-flex i.fa-trash-o:hover{
  color: var(--bs-danger);
}
.ac-icon .d-flex i.fa-eye:hover{
  color: var(--bs-blue);
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
  box-shadow: none;  
}
.table-striped > tbody > tr:nth-of-type(odd) {
  box-shadow: 0 1px 5px #d1d1d1;
  border-radius: 10px;  
  cursor: pointer;
  overflow: hidden;
}
.table-striped > tbody > tr:nth-of-type(odd):hover {
  background-color: #FAFAFA; 
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 10px; 
  overflow: hidden;
}
.table-striped > tbody > tr:nth-of-type(even) {
  box-shadow: 0 1px 5px #d1d1d1;
  border-radius: 10px;
  margin-top: 10px; 
  cursor: pointer; 
  overflow: hidden;
}
.table-striped > tbody > tr:nth-of-type(even):hover {
  background-color: #FAFAFA; 
  box-shadow: 0 0 7px #bdbdbd;
  border-radius: 10px; 
  overflow: hidden;
}
.table-striped > tbody > tr >td {
  padding: 20px 0.5rem;
}
.table-striped > tbody > tr >td:first-child {
  padding: 15px 1rem;
}
.table-striped > thead > tr >th {
  color: var(--bs-blue);
}
.table-striped > tbody{
  margin-top: 15px;
}
table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 1.02rem;
}

.tab-pro .progress {
  width: 40px;
  height: 40px !important;
  float: left;
  line-height: 40px;
  background: none;
  margin: 0;
  box-shadow: none;
  position: relative
}

.tab-pro .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #EEEEEE;
  position: absolute;
  top: 0;
  left: 0
}

.tab-pro .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;  
}
.tab-pro .progress .progress-left {
  left: 0
}
.tab-pro .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 0
}
.tab-pro .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left
}
.tab-pro .progress .progress-right {
  right: 0
}
.tab-pro .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-3 1.8s linear forwards
}
.tab-pro .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff;
  font-size: 15px;
  color: #049dff;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 5%
}
.tab-pro .progress.blue .progress-bar {
  border-color: #049dff
}
.progress.yellow .progress-bar {
  border-color: #fdba04
}

.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards
}

.progress.yellow .progress-left .progress-bar {
  animation: none
}

@keyframes loading-1 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
  }
}

@keyframes loading-2 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg)
  }
}

@keyframes loading-3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg)
  }
}

.gfg {
  border-collapse:separate;
  border-spacing:0 15px;
}
.dtfh-floatingparent{
  position: relative !important;
  display: none;
}
.chart{
  width: 35px;
}
.voice-setting-sec{
  /* margin-bottom: 25px; */
  min-height: 200px;
}
.voice-setting-sec p{
  font-size: 15px;
  justify-content: space-between;
  padding-bottom: 20px; 
}
.voice-setting-card-sec{
  display: flex;
  flex-wrap: wrap;  
}
.v-set-card{
  width: 24.4%;
  background: var(--bs-white);
  border-radius: 10px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;    
}
.v-set-card-head{
  background: #00212B;
  border-radius:10px 10px 0 0;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  color:var(--bs-white);
  display: flex;
  align-items: center;
}
.v-set-card-head i{
  font-size: 27px;
  margin-right: 10px;
}
.v-set-card-content{
  padding:15px;
}
.v-set-card-content p{
  padding-bottom: 0;
  height: 50px;
  overflow: hidden;
}
.fa-metro-flow{
  background: url(../images/metro-flow.svg) 0 0 no-repeat;
  height:29px;
  width: 20px;
}
.v-set-card:hover{
  margin-top: -10px; 
  margin-bottom: -10px;
  transition: margin 0.25s ease-out;   
}
.v-set-card:hover .v-set-card-content p{ 
  height: auto;  
}
.ad-serch{
  color: var(--bs-black);
  padding: 0;
  display: flex;
  align-items: center;
}
.ad-serch:after{
  margin-top: 2px;  
}
.ad-serch-panel .dropdown-menu{
  width: 500px;
  margin-left: -15px !important;
  margin-top: 24px !important;
  border: none;
  padding:10px 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.ad-top-s{
  margin-bottom: 20px;
}
.ad-top-s .form-control{
  background: transparent;
  border: solid 1px #5A5A5A;
  margin: 0;
  width: 100%;
}
.ad-top-s label{
  padding-bottom: 5px;
}
.ad-top-s input[type="checkbox"]{
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.ad-top-s ul li{
  font-size: 17px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  line-height: 25px;
}
.ad-top-s ul li label{
  padding-bottom: 0;
}
.ad-top-s .date .input-group-addon {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 1;
}
.ad-top-s .reset-btn{
  padding: 7px 35px;
}

/*============== Create Campaign CSS ==============*/
.d-flex.select-field-area .select-field{
  width: 20%;
  margin-right: 1.5%;
}
.d-flex.select-field-area .select-field:last-child{
  margin-right: 0;
}
.select-field-area .select-plus{
  margin: 40px 1.5% 0 0;
}
.select-field-area .select-plus .fa{
  background-color: var(--bs-textdark);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 26px;
  color: var(--bs-white);
  border-radius: 100%;
  font-size: 15px;
  padding: 0 0 0 2px;
}
.select-field-area .select-plus a:hover .fa{
  background-color: var(--bs-blue);
}
.create-campaign-upload-btn li{
  position: relative;
  width: 25%;
  margin-right: 2%;
}
.create-campaign-upload-btn li:last-child{
  margin-right: 0;
}
.create-campaign-upload-btn .upload-label{
  position: relative;
  font-size: 16px;
  color: var(--bs-white);
  line-height: 2.8;
  background-color: var(--bs-dark);
  width: 100%;
  height: 45px;
  border-radius: 6px;
  padding: 0 10px 0 50px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.create-campaign-upload-btn .upload-label:hover{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  margin-top: -2px;
}
.create-campaign-upload-btn .upload-label:after{
  position: absolute;
  content: '';
  width: 1px;
  height: 45px;
  background-color: var(--bs-white);
  top: 0;
  left: 40px;
}
.create-campaign-upload-btn .upload-label:before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 13px;
  left: 12px;
}
.create-campaign-upload-btn .contact-custom:before{
  background: url(../images/contact.png) 0 center no-repeat;
  background-size: contain;
}
.create-campaign-upload-btn .file-excel:before{
  background: url(../images/file-excel.png) 0 center no-repeat;
  background-size: contain;
}
.create-campaign-upload-btn .copy-paste:before{
  background: url(../images/copy-paste.png) 0 center no-repeat;
  background-size: contain;
}
.upload-btn{
 opacity: 0;
 position: absolute;
 z-index: -1;
}
.download-format{
  text-align: center;
  margin-top: 15px;
}
.download-format a{
  color: var(--bs-textdark);
  text-decoration: underline;
}
.download-format a:hover{
  color: var(--bs-blue);
  text-decoration: none;
}

.checkbox-expand{
  display: none;
}
.schedule-srvc{
  justify-content: space-between;
  margin-top: 20px;
}
.notify-url{
  margin-top: 20px;
  align-items: center;
}
.notify-url .clm-width-three.form-group{
  margin-left: 15px;
}
.auto-retry{
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.start-campaign {
  max-width: 360px;
}
.uni-engage-radio label {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}
.form-group .d-flex.uni-engage-radio li {
  line-height: 1.4;
  margin: 0 20px 8px 0;
}
.uni-engage-radio input[type=radio] {
  display: none;
}
.uni-engage-radio input[type=radio]+label {
  position: relative;
  margin-left: 26px;
}
.uni-engage-radio input[type=radio]:checked+label::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--bs-blue);
  border-radius: 100%;
  left: -22px;
  top: 7px;
}
.uni-engage-radio input[type=radio]+label::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 100%;
  top: 3px;
  left: -26px;
}
.uni-engage-check label {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.uni-engage-radio input[type=radio]:checked+label::after {
  border-color: var(--bs-blue);
}
.uni-engage-check input[type=checkbox] {
  display: none;
}
.uni-engage-check input[type=checkbox]+label {
  position: relative;
  margin-left: 26px;
}
.uni-engage-check input[type=checkbox]+label::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--bs-dark);
  border-radius: 3px;
  top: 4px;
  left: -26px;
}
.uni-engage-check input[type=checkbox]:checked+label::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 6px;
  transform: translateX(10px) rotate(
-45deg);
  border-left: 2px solid var(--bs-blue);
  border-bottom: 2px solid var(--bs-blue);
  left: -32px;
  top: 9px;
}
.uni-engage-check input[type=checkbox]:checked+label::after {
  border-color: var(--bs-blue);
}
.keyword-text{
  font-size: 17px;
  color: var(--bs-blue);
  font-weight: 500;
  padding-left: 25px;
}
.keyword-table .dataTables_filter{
  display: none;
}
.keyword-table .dataTables_length {
  right: 270px;
}
.keyword-table div.dataTables_wrapper div.dataTables_info{
  right: 70px;
  top: -64px;
}
.keyword-table div.dataTables_wrapper div.dataTables_paginate {
  top: -56px;
}
.keyword-table table.dataTable thead .sorting:after {
  display: none;
}
.keyword-table .dataTables_length{
  top: -60px;
}
.personalized-checked-area {
  position: relative;
  display: none;
}
.personalized-checked-area.active {
  display: block;
}
.personalized-checked-area .d-flex{
  align-items: flex-end;
}
.personalized-checked-area .clm-width-four{
  margin-right: 1.5%;
}
.personalized-checked-area .create-template-btn a{
  position: relative;
  font-size: 16px;
  color: var(--bs-white);
  line-height: 2.4;
  background-color: var(--bs-dark);
  height: 40px;
  border-radius: 6px;
  padding: 0 30px 0 50px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.personalized-checked-area .create-template-btn a:hover{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}
.personalized-checked-area .create-template-btn a:after{
  position: absolute;
  content: '';
  width: 1px;
  height: 40px;
  background-color: var(--bs-white);
  top: 0;
  left: 40px;
}
.personalized-checked-area .create-template-btn a:before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 10px;
  left: 12px;
}
.personalized-checked-area .create-template-btn a:before{
  background: url(../images/create-template.png) 0 center no-repeat;
  background-size: contain;
}
.expand-radio{
  height: 0;
  display: none;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}
.expand-radio.active{
  height: auto;
  display: block;
  visibility: visible;
}
/*============== Campaign page css End ==============*/

.table-check-input {
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  margin-top: 0;
  cursor: pointer;
  margin-top: 7px;
}
.audio-table div.dataTables_wrapper div.dataTables_filter{
  left: 350px;
}
.voice-top-sec .btn{
  padding:7px 35px;
  margin-right: 10px;
  font-weight: 500;
}
.voice-top-sec .btn-primary a{
  color: var(--bs-white);
  text-decoration: none;
}
.voice-top-sec .btn-white{
  padding:7px 35px;
  margin-right: 10px;
  background-color: var(--bs-white);
  color: var(--bs-blue);
  border: solid 1px var(--bs-blue);
}
.voice-top-sec .btn-white:hover{
  color: var(--bs-white);
  background-color: var(--bs-blue);
}
.voice-top-sec .btn-green{
  padding:7px 25px;
  margin-right: 10px;
  background-color: var(--bs-green);
  color: var(--bs-white); 
}
.voice-top-sec .btn-green:hover{
  color: var(--bs-white);
  background-color: var(--bs-success);
}
.voice-top-sec .btn-red{
  padding:7px 25px;
  margin-right: 10px;
  background-color: var(--bs-danger);
  color: var(--bs-white); 
}
.voice-top-sec .btn-red:hover{
  color: var(--bs-white);
  background-color: var(--bs-red);
}
.voice-top-sec .table-search {
  margin-left: 218px;
  margin-top: 3px;
}
.voice-top-sec .dataTables_length {
  right: 270px;
}
.audio-table .dataTables_length {
  right: 270px;
}
.audio-table div.dataTables_wrapper div.dataTables_info {
  right: 65px;
}
.audio-table div.dataTables_wrapper div.dataTables_paginate {
  top: -60px;
}
.table-striped > tbody > tr >td.audio-sec{
  padding: 5px 0;
}
.audio-sec audio{
  border: solid 1px #707070;
  background: var(--bs-white);
  border-radius: 30px;
  height: 40px;
  margin-top: 6px;
  width: 230px;
}
.audio-table.audio-ly div.dataTables_wrapper div.dataTables_filter {
  left: 560px;
}
.audio-lyr{
  margin-left: 166px !important;
}
.audio-table.audio-ly .dataTables_length {
  right: 70px;
}
.audio-table.audio-ly div.dataTables_wrapper div.dataTables_info {
  display: none;
}
.template-create-popup{
  position: relative;
  background-color: var(--bs-white);
  width: 800px;
  top: 100%;
  right: 0;
  z-index: 3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 20px 15px;
  border-radius: 8px;
  display: none;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 25px;
}
.template-create-popup.show-popup{
  display: block;
  visibility: visible;
}
.select-audio-select-field{
  display: flex;
  align-items: center;
}
.select-audio-select-field label{
  white-space: nowrap;
  margin-right: 15px;
  margin-bottom: 0;
}
.select-audio-select-field select{
  width: 300px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #707070;
  border-radius: 6px;
  font-size: 14px;
}
.template-create-popup-list-area{
  margin-top: 30px;
}
.template-create-popup-list-area ul li{
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.template-create-popup-list-area ul li:not(:first-child){
  background-color: #E0EAF3;
  padding: 15px 3px;
  border-radius: 6px;
}
.template-create-popup-list-area ul li .t-head, .template-create-popup-list-area ul li .t-data{
  width: 27%;
  text-align: center;
}
.template-create-popup-list-area ul li .t-head:first-child, .template-create-popup-list-area ul li .t-head:last-child, .template-create-popup-list-area ul li .t-data:first-child, .template-create-popup-list-area ul li .t-data:last-child{
  width: 6%;
}
.template-create-popup-list-area ul li .form-group{
  margin-bottom: 0;
}
.template-create-popup-list-area ul li input{
  background-color: var(--bs-white);
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  font-size: 14px !important;
}
.template-create-popup-list-area ul li .form-select{
  padding: 10px 10px 10px 10px;
  border: 1px solid #707070;
  border-radius: 6px;
  font-size: 14px;
}
.template-create-popup-btn .d-flex{
  justify-content: flex-end;
}
.template-create-popup-btn ul li{
  padding: 0 !important;
  background-color: transparent !important;
  margin-left: 10px;
}
.template-create-popup-btn ul li input{
  padding: 8px 5px;
  width: 100px;
}
.template-create-popup-btn ul li input.add-btn{
  background: var(--bs-blue) !important;
}
.template-create-popup-btn ul li input.add-btn:hover{
  background: #0b5ed7 !important;
}


/*============== Uniflow CSS Start ==============*/
.create-campaign-uniflow .clm-width-three.form-group:not(:last-child){
  margin-right: 2%;
}
/*============== Uniflow CSS End ==============*/

/*============== Unimica CSS Start ==============*/
.unimica-response-type{
  border-bottom: 1px solid #BCBCBC;
  padding-bottom: 10px;
}
.unimica-schedule-service .clm-width-four{
  margin-right: 1%;
}
.response-type-item{
  position: relative;
  width: 100%;
  background-color: var(--bs-white);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.response-type-item h2{
  font-size: 17px;
  color: #007AFF;
  font-weight: 600;
  margin-bottom: 15px;
}
.sms-response-type, .callback-response-type, .all-response-type{
  display: none;
}
select.form-select{
  padding: 10px 15px;
  border-color: #707070;
  border-radius: 8px;
}
select.form-select:focus{
  box-shadow: none;
}
.form-field-hdn {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.form-group .d-flex.uni-engage-radio li, .d-flex.uni-engage-check li {
  line-height: 1.4;
  margin: 0 20px 8px 0;
}
.sms-rspns-left-clm{
  position: relative;
  width: 30%;
}
.sms-rspns-right-clm{
  position: relative;
  width: 65%;
}
.sms-rspns-right-clm .uni-engage-check input[type=checkbox]+label{
  margin-left: 35px;
}
.sms-rspns-right-clm label{
  font-size: 16px;
}
.callback-response-left-clm{
  width: 27%;
}
.callback-response-middle-clm{
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.callback-response-item .uni-engage-check label, .callback-response-item .uni-engage-radio label{
  font-size: 16px;
}
.callback-response-right-clm{
  width: 25%;
}
.callback-response-middle-clm .align-item-center .uni-engage-check input[type=checkbox]+label{
  margin-left: 35px;
}
.unimica-schedule-service .date{
  position: relative;
  margin-right: 15px;
}
.unimica-schedule-service .date:last-child{
  margin-right: 0;
}
.unimica-schedule-service .date .form-control{
  width: 150px;
  text-align: right;
  padding-right: 15px;
}

/*============== Unimica CSS End ==============*/


.modalWindow {
  position: absolute;
  top: -20px;
  right: 0;
  bottom:-35px;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .modalHeader-audio{
    background: var(--bs-blue);
    padding: 20px !important;
    display: block;
    border-radius: 5px 5px 0 0;
  }
  .modalHeader-audio h3 { 
    color: var(--bs-white); 
    }
    .modalHeader-audio h3 span{ 
      font-size: 15px;
      padding-left: 20px;
      }
  .modalWindow:target {
  opacity:1;
  pointer-events: auto;
  }
  .modalWindow > div {
  width: 550px;
  position: relative;
  margin: 10% auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  padding-bottom: 20px;

  }
  .modalWindow .modalHeader { padding: 5px 20px 0px 20px; }
  .modalWindow .modalContent { padding: 0px 20px 5px 20px; }
  .modalWindow .modalFooter { padding: 8px 20px 8px 20px; }
  .modalFooter {
  background: #F1F1F1;
  border-top: 1px solid #999;
  -moz-box-shadow: inset 0px 13px 12px -14px #888;
  -webkit-box-shadow: inset 0px 13px 12px -14px #888;
  box-shadow: inset 0px 13px 12px -14px #888;
  }
  .modalFooter p {
  color:#D4482D;
  text-align:right;
  margin:0;
  padding: 5px;
  }
  .ok, .close, .cancel {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  }
  .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 22px;
  height: 22px;
  font-size: 10px;
   
  }
  .ok, .cancel {
  width:80px;
  float:right;
  margin-left:20px;
  }
  .ok:hover { background: #189CDA; }
  .close:hover, .cancel:hover { background: #D4482D; }
  .clear { float:none; clear: both; }
  .relative-position{
    position: relative;
  }
  .module-form .form-select{
    width: 190px;
    margin-right: 40px;
  }
  .c-t{
    width: 80%;
  }
  .c-t i{
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .c-t .form-control{
    width: 100%;
  }
  .t-y-c .form-label{
    margin-top: 20px;
  }
  .chips{
    border: 1px solid #707070;
    border-radius: 2px;
    padding: 10px;    
    display: block;
    margin: 15px 0 30px;
    width: 100%;
    border-radius: 8px;
    min-height: 60px;     
  }
  .chips #chips-input{
    border: none;
    appearance: none;
  }
  .chips span{
    background: var(--bs-blue);
    border-radius: 70px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--bs-white);
    margin-bottom: 5px;
    display: inline-block;
  }
  .chips span i{
    font-style: normal;
    cursor: pointer;
    margin-left:7px;
  }
  .c-t-r{
    text-align: right;
    width: 61%;
    float: right;
  }
  .c-t-r a{
    margin-bottom: 10px;
  }
   .c-t-r a.up-btn{
    width: 100%;
  } 
  .c-t-r a:hover{
    text-decoration: none;
  }
  .c-t-r a.btn-white {
    padding: 7px 35px;
    background-color: var(--bs-white);
    color: var(--bs-blue);
    border: solid 1px var(--bs-blue);
  }
  .date .input-group-addon, .time .input-group-addon {
    position: absolute;
    top: 4px;
    left: 10px;
    z-index: 1;
  }
  .schedule-srvc .date, .schedule-srvc .time {
    position: relative;
  }
  .schedule-srvc .date .form-control, .schedule-srvc .time .form-control {
    width: 100%;
    padding: 5px 15px 5px 15px;
  }
  .schedule-srvc .date .input-group-addon, .schedule-srvc .time .input-group-addon {
    left: inherit;
    right: 15px;
    cursor: pointer;
  }
  .my-timepicker-div{
    position: absolute;
    z-index: 5;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    border-color: #cccccc;
    background-color: white;        
  }  
  .my-timepicker-div div{
    margin: 0rem;  
    display: flex;
    justify-content: center;    
  } 
  .my-timepicker-div div .form-control{ 
    width: 50% !important;
    height: 100px;
    border:solid 1px #ccc;
  }
  .my-timepicker-div option:disabled{
    color: #bbb;
    font-style: italic;
  }  
  .my-timepicker-div span{
    padding-right: 0.1rem;
    padding-left: 0.1rem;    
  }  
  .my-timepicker-div .ampm-button{
    width: 3rem;
    height: 3rem;
  }
  .my-timepicker-div div .btn-outline-primary {
    color: var(--bs-green);
    border:solid 1px #ccc;
    margin-top: 3px;
  }
  .my-timepicker-div div .btn-outline-primary:hover{
    color: var(--bs-white);   
  }
  .my-timepicker-div div .btn-outline-secondary {
    color: #95a5a6;
    border-color: #95a5a6;
    margin-top: 3px;
  }